body {
    margin: 0;
    text-align: center
    position: relative;
   font-family: 'Verdana';
width: 575px;
height: 385px;
color: #EEEEEE;
background: #1B244A;
 
}
.score {
    background: black;
    font-size: 90px;
    color: #F94F6D;
    width: 140px;
    margin: 0px;
  font-family: 'Cursed Timer
    
}


.container {
    display: center;
    justify-content: space-around;
   
  
    
}
button {
    background: none;
   font-family: 'Cursed Timer
   
}


h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    

    
}

h4 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
 
}



